# Kriegspiel content ownership
* @Fillll @lgyanf

/blog/ @Fillll @lgyanf
/changelog/ @Fillll @lgyanf
/rules/ @Fillll @lgyanf
/docs/ @Fillll @lgyanf
/scripts/ @Fillll @lgyanf
/.github/ @Fillll @lgyanf
